<div class="first-row">
  <div *ngIf="userService.isLoggedIn$ | async; then routeDashboard; else routeCompanyList"></div>
  <ng-template #routeDashboard>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
            routerLink="dashboard">
      <mat-icon>home</mat-icon>
    </button>
    <a href="dashboard" style="text-decoration: none">Job Application Manager</a>
    <div *ngIf="userService.isLoggedIn$ | async; then showHello;"></div>
    <ng-template #showHello>
      | <a [ngStyle]="{'font-size': '14px'}">Hello, {{getUsername()}}!</a>
    </ng-template>
  </ng-template>
  <ng-template #routeCompanyList>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
            routerLink="company-list">
      <mat-icon>home</mat-icon>
    </button>
    <a href="company-list" style="text-decoration: none">Job Application Manager</a>
    <div *ngIf="userService.isLoggedIn$ | async; then showHello;"></div>
    <ng-template #showHello>
      | <a [ngStyle]="{'font-size': '14px'}">Hello, {{getUsername()}}!</a>
    </ng-template>
  </ng-template>

  <span class="example-spacer"></span>

  <ng-container
    *ngIf="userService.isLoggedIn$ | async; then loggedIn; else loggedOut">
  </ng-container>
  <ng-template #loggedIn>
    <button class="login-container" mat-button (click)="userService.logout()"> Logout</button>
  </ng-template>
  <ng-template #loggedOut>
    <button class="login-container" mat-button routerLink="login"> Login</button>
  </ng-template>
</div>

<div class="second-row" *ngIf="userService.isLoggedIn$ | async">
  <button mat-button class="custom-button" routerLink="internship-list">My Internships</button>
  <button mat-button class="custom-button" routerLink="degree-program-list">List Degree Programs</button>
  <button mat-button class="custom-button" routerLink="internship-list">List Internships</button>
  <button mat-button class="custom-button" routerLink="company-list">List Companies</button>
  <button mat-button class="custom-button" routerLink="vacancies-list">List Vacancies</button>
</div>


<router-outlet></router-outlet>


