a {
  color: inherit;
}

.first-row {
  background-color: #b9cdda;
  color: black;
  overflow: hidden;
  font-size: 24px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.second-row {
  background-color: #a6d8d4;
  color: black;
  justify-content: center;
  text-align: center;
}

.custom-button {
  border: 1px solid black;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.custom-button-active {
  background-color: #b9cdda;
}

.hello {
  font-size: 16px;
  text-align: center;
  margin-bottom: 5px;
}

.login-container {
  float: right;
  text-align: center;
  justify-content: center;
  font-size: 24px;
  padding-right: 25px;
}
