a {
  color: inherit;
}

.first-row {
  background-color: #b9cdda;
  color: black;
}

.second-row {
  background-color: #a6d8d4;
  color: black;
  justify-content: center;
  text-align: center;
}

.custom-button {
  border: 1px solid black;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
