<mat-toolbar color="primary">
  <mat-toolbar-row class="first-row" fxflex="row">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
            routerLink="company-list">
      <mat-icon>home</mat-icon>
    </button>
    <span>
      <a href="company-list" style="text-decoration: none">Job Application Manager</a>
    </span>

    <span class="example-spacer"></span>

    <ng-container
      *ngIf="userService.isLoggedIn$ | async; then loggedIn; else loggedOut">
    </ng-container>
    <ng-template #loggedIn>
      <button mat-button (click)="userService.logout()"> Logout</button>
    </ng-template>
    <ng-template #loggedOut>
      <button mat-button routerLink="login"> Login</button>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>

<div class="second-row" *ngIf="userService.isLoggedIn$ | async">
  <button mat-button routerLink="internship-list">My Internships</button>
  <button mat-button routerLink="degree-program-list">List Degree Programs</button>
  <button mat-button routerLink="internship-list">List internships</button>
  <button mat-button routerLink="company-list">List companies</button>
  <button mat-button routerLink="vacancies-list">List vacancies</button>
</div>


<router-outlet></router-outlet>


