<mat-toolbar color="primary">
  <div>
  <span>Job Application Management</span>
  </div>
      <ul *ngIf="userService.isLoggedIn$ | async" class="container-fluid">
        <button mat-button routerLink="internship-list">My Internships</button>
        <button mat-button routerLink="degree-program-list">List Degree Programs</button>
        <button mat-button routerLink="internship-list">List internships</button>
        <button mat-button routerLink="company-list">List companies</button>
        <button mat-button routerLink="vacancies-list">List vacancies</button>
      </ul>
        <span class="example-spacer"></span>
        <ng-container
          *ngIf="userService.isLoggedIn$ | async; then loggedIn; else loggedOut">
        </ng-container>
        <ng-template #loggedIn>
          <button mat-button (click)="userService.logout()"> Logout </button>
        </ng-template>
        <ng-template #loggedOut>
          <button mat-button routerLink="login"> Login </button>
        </ng-template>
</mat-toolbar>


<router-outlet></router-outlet>


