<div style="margin: 35px">
  <div style="margin-bottom: 10px">
    <a mat-raised-button [routerLink]="['/vacancies-list']">Back</a>
  </div>
  <mat-card class="card-info">
    <mat-card-content>
      <h1>
          {{vacancy.title}}
      </h1>
      <p>{{vacancy.description}}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card-info">
    <mat-card-content>
      <h2>
        <div>
          Approval Status
        </div>
      </h2>
      <p>{{vacancy.approval_status}}</p>
      <h2>
        <div>
          Company
        </div>
      </h2>
      <p>{{vacancy.company.name}}</p>
    </mat-card-content>
  </mat-card>
  <div *ngIf="this.isLecturer" style="margin-top: 10px">
    <button mat-raised-button style="margin-right: 10px" (click)="close()" [routerLink]="'/vacancies-list/'">Closed</button>
    <button mat-raised-button style="margin-right: 10px" color="primary" (click)="approve()">Approve</button>
    <button mat-raised-button style="margin-right: 10px" color="warn" (click)="reject()">Reject</button>
  </div>
</div>


