<div style="margin: 35px" >
<div>
  <a mat-raised-button [routerLink]="['/company-list']">Back</a>
</div>


  <mat-card>
    <mat-card-content>
      <h1><img src="{{company.favicon}}" width="50px"> {{company.name}} </h1>
      <p>{{company.description}}</p>

      <mat-grid-list cols="3" rowHeight="1:1">
        <mat-grid-tile>
          <mat-card>
            <mat-card-content>
              <p>{{company.address.country}}</p>
              <p>{{company.address.zip}} {{company.address.city}}</p>
              <p>{{company.address.address1}}</p>

              <p *ngIf="company.phone">{{company.phone}}</p>
              <p *ngIf="company.email">{{company.email}} </p>

              <p *ngIf="company.website">
                <a href="{{company.website}}">Website</a>
              </p>
              <p *ngIf="company.linkedin_account.url">
                <a href="{{company.linkedin_account.url}}">Linkedin</a>
              </p>
              <p *ngIf="company.facebook_account.url">
                <a href="{{company.facebook_account.url}}">Facebook</a>
              </p>
              <p *ngIf="company.twitter_account.url">
                <a href="{{company.twitter_account.url}}">Twitter</a>
              </p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card>
            <mat-card-content>
              <p>Employees: {{company.employees}}</p>
              <p>Revenue: {{company.revenue | currency : 'USD':'$':'1.0-0'}}</p>
              <p>Year Founded: {{company.year_founded}}</p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="company.technologies.length > 0">
          <mat-card>
            <mat-card-content>
              <p>Technologies:</p>
              <table>
                <tr *ngFor="let technology of company.technologies">
                  <td>{{technology.name}}</td>
                </tr>
              </table>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>

  <div>
    <a mat-raised-button [routerLink]="['/company-form/' + company.orb_num]">Edit</a>
  </div>
  <div>
    <a mat-raised-button [routerLink]="['/company-list']">Approve</a>
  </div>
  <div>
    <a mat-raised-button [routerLink]="['/company-list']">Deny</a>
  </div>

</div>
