<p>Name: {{company.name}}</p>
<p>Description: {{company.description}}</p>
<p>Entity Type: {{company.entity_type}}</p>
<p>Country: {{company.address.country}}</p>
<p>Zip: {{company.address.zip}}</p>
<p>State: {{company.address.state}}</p>
<p>City: {{company.address.city}}</p>
<p>Address1: {{company.address.address1}}</p>
<p>Address2: {{company.address.address2}}</p>
<table>
  <tr>
    <th>name</th>
    <th>weight</th>
  </tr>
  <tr *ngFor="let category of top_categories">
    <td>{{category.name}}</td>
    <td>{{category.weight}}</td>
    <td></td>
  </tr>
</table>
<p>Parent Company: {{company.parent_comp}}</p>
<p>Ultimate Parent Company: {{company.ultimate_parent_comp}}</p>
<table>
  <tr>
    <th>other names</th>
  </tr>
  <tr *ngFor="let name of company.other_names">
    <td>{{name}}</td>
    <td></td>
  </tr>
</table>
<p>Website:
  <a href="{{company.website}}">{{company.website}}</a>

</p>
<p>Industry: {{company.industry}}</p>
<p>Employees: {{company.employees}}</p>
<p>Revenue: {{company.revenue}}</p>
<p>Year Founded: {{company.year_founded}}</p>
<p>Linkedin: {{company.linkedin_account.url}}</p>
<p>Facebook: {{company.facebook_account.url}}</p>
<p>Twitter: {{company.twitter_account.url}}</p>
<p>Technologies</p>
<table>
  <tr>
    <th>name</th>
  </tr>
  <tr *ngFor="let technology of company.technologies">
    <td>{{technology.name}}</td>
  </tr>
</table>
<p>Rankings</p>
<table>
  <tr>
    <th>name</th>
    <th>position</th>
  </tr>
  <tr *ngFor="let ranking of company.ranking_positions">
    <td>{{ranking.ranking}}</td>
    <td>{{ranking.position}}</td>
  </tr>
</table>
<p>Icon: {{company.favicon}}</p>
<img src="{{company.favicon}}">
<p>Telephone: {{company.phone}}</p>
<p>Email: {{company.email}}</p>
<p>Latitude: {{company.latitude}}</p>
<p>Longitude: {{company.longitude}}</p>

<h2>Similar Companies</h2>
<table>
  <tr>
    <th>name</th>
    <th>orb_num</th>
  </tr>
</table>



