<div style="margin: 50px" >
  <h2>Companies</h2>

  <div>
    <a mat-raised-button [routerLink]="['/company-form']">Create Company</a>
  </div>

  <h2>Search for companies</h2>

  <mat-form-field class="example-full-width">
    <mat-label>Search</mat-label>
    <input matInput placeholder="z.B. avl" [formControl]="filterFormControlName">
  </mat-form-field>

  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>
  <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource">
    <ng-container matColumnDef="orb_num">
      <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
      <mat-cell *matCellDef="let Company_API_All">{{Company_API_All.orb_num}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
      <mat-cell class="description-cell"
                *matCellDef="let Company_API_All">{{Company_API_All.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="country">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell class="duration-cell"
                *matCellDef="let Company_API_All">{{Company_API_All.country}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef>City</mat-header-cell>
      <mat-cell class="duration-cell"
                *matCellDef="let Company_API_All">{{Company_API_All.city}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="address">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell class="duration-cell"
              *matCellDef="let Company_API_All">{{Company_API_All.address}}</mat-cell>
  </ng-container>

    <mat-row *matRowDef="let row; columns: displayedColumns"
             (click)="onRowClicked(row)">
    </mat-row>
  </mat-table>
  <mat-paginator [length]="length"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="[5, 10, 50, 100]"
                 (page)="handlePageEvent($event)"
                 aria-label="Select page"></mat-paginator>
</div>

